{% extends 'base.html.twig' %}

{% block title %}
	{{ company.name }}
{% endblock %}

{% block body %}
	<h1 class="h3 mb-3 font-weight-normal">
		Entreprise "{{ company.name }}"
	</h1>

	<h2 class="h3 mb-3 font-weight-normaldescription">Description</h2>
	<em>
		{{ company.description }}
	</em>

	<h2 class="h3 mb-3 font-weight-normaldescription">Site</h2>
	<a href="{{ company.url }}">
		{{ company.url }}
	</a>

	<h2 class="h3 mb-3 font-weight-normaldescription">Formations</h2>
	<ul>
		{% for training in company.trainings %}
			<li>{{ training.name }}</li>
		{% endfor %}
	</ul>
</tr>

<h2 class="h3 mb-3 font-weight-normaldescription">Créneaux</h2>

{% if company.slots|length %}
	<div class="row">
		{% for slot in company.slots %}
			{# if slot is free #}
			{% if slot.student == null %}
				<a class="col-sm-2 bg-success slot m-1 text-white" 
				onclick="window.location.href = '{{ path("slot_reservation", {'iduser': app.user.id , 'idcompany': company.id ,'idslot': slot.id}) }}';">
					<div>
						{{ slot.time }}
					</div>
				</a>
			{# if slot is not free #}
			{% elseif slot.student != null %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="col-sm-2 bg-danger slot m-1 text-white">
						{{ slot.time }}
						{{slot.student.name}}
					</div>
				{# if the connected user is the slot student #}
				{% elseif slot.student.id == app.user.id %}
					<div class="col-sm-2 bg-info slot m-1 text-white">
						{{ slot.time }}
						{{slot.student.name}}
					</div>
				{# default displaying #}
				{% else %}
					<div class="col-sm-2 bg-danger slot m-1 text-white">
						{{ slot.time }}
					</div>
				{% endif %}

			{% endif %}
		{% endfor %}
	</div>
{% else %}
	<div class="alert alert-danger">
		Aucun créneau
	</div>
{% endif %}


<a href="{{ path('company_index') }}">&laquo; retour à la liste</a>

{% if is_granted('ROLE_ADMIN') %}
	{{ include('company/_delete_form.html.twig') }}
{% endif %}{% endblock %}
